<div class="page-background">
  <div class="content-wrapper">

    <div class="card form-card">
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" placeholder="Enter username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter password">
        </div>

        <div class="buttons">
          <button type="submit" class="btn-primary">Login</button>
        </div>



      </form>
    </div>

    <div class="card image-card">
      <img src="assets/adopt-image.png" alt="Adopt a pet">
    </div>

  </div>
</div>
