<h1>Create an Account</h1>

<div class="form-container">

  <form *ngIf="!submitted" [formGroup]="emailForm" (ngSubmit)="submitEmail()" class="form-card">

    <div class="field">
      <label>Email address</label>
      <input type="email" formControlName="email" autocomplete="on" placeholder="you@example.com">
    </div>

    <button type="submit" class="button">
      Send me the registration link
    </button>

  </form>

  <div *ngIf="submitted" class="form-card">
    <p>{{ infoMessage }}</p>
  </div>

</div>
