<h1>Update Pet</h1>

<div class="form-container">

  <form [formGroup]="updatePetForm" (ngSubmit)="updatePet()" class="form-card">

    <input type="hidden" formControlName="petId">

    <div class="row">

      <div class="field">
        <label>Name</label>
        <input type="text" formControlName="petName">
      </div>

      <div class="field">
        <label>Type</label>
        <select formControlName="petType">
          <option *ngFor="let type of types" [value]="type.id">
            {{type.name}}
          </option>
        </select>
      </div>

      <div class="field">
        <label>Gender</label>
        <select formControlName="petGender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

    </div>

    <div class="row">

      <div class="field">
        <label>Age</label>
        <input type="text" formControlName="petAge">
      </div>

      <div class="field">
        <label>Description</label>
        <textarea formControlName="petDescription"></textarea>
      </div>

      <div class="field">
        <label>Image</label>
        <input
          type="file"
          multiple
          (change)="selectImages($event)">

        <div class="existingImages" *ngIf="existingImages.length>0">
          <p class="existingImagesLabel">New images to upload:</p>
          <div class="existingImageItem" *ngFor="let img of existingImages">
            <img [src]="backendUrl + img.image" class="thumbnail" alt="pet image">
            <label>
              <input
                type="radio"
                name="primaryImage"
                [checked]="img.primaryImage"
                (change)="setPrimary(img.id)">
              Primarna
            </label>
          </div>
        </div>
      </div>

    </div>

    <button type="submit" class="button">
      Update Pet
    </button>

  </form>

</div>
