<h1>Add New Adoption</h1>

<div class="form-container">

  <form [formGroup]="newAdoptionForm" (ngSubmit)="addAdoption()" class="form-card">

    <div class="row">
      <div class="field">
        <label>Pet</label>
        <select formControlName="adoptionPet">
          <option *ngFor="let pet of pets" [value]="pet.id">
            {{pet.type.name}} {{pet.name}}
          </option>
        </select>
      </div>

      <div class="field">
        <label>Person</label>
        <select formControlName="adoptionPerson">
          <option *ngFor="let person of people" [value]="person.jmbg">
            {{person.name}} {{person.surname}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Date of adoption</label>
        <input type="date" formControlName="adoptionDate" class="custom-date">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Vet report</label>
        <textarea formControlName="adoptionVetReport"></textarea>
      </div>

    </div>


    <button type="submit" class="button">
      Create new adoption
    </button>

  </form>

</div>
