<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="container">
        <ul class="nav nav-bar">
            <router-outlet>
              <div class="justLinks">
                <li><a routerLink='/pets'>Pets</a></li>
                <li><a routerLink="/people">People</a></li>
                <li><a routerLink="/adoptions">Adoptions</a></li>
                <li><a routerLink="/add_pet">Add pet</a></li>
                <li><a routerLink="/add_person">Add person</a></li>
                <li><a routerLink="/add_adoption">Add adoption</a></li>
              </div>
            </router-outlet>
            
        </ul>
        </div>
    </div>
</div>
