h1{
    text-align: center;
}

app-person-card{
    border: 5px;
    border-color: rgb(86, 0, 0);
    margin-right: 10px;
    margin-bottom: 15px;
}

.people{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 1400px;
  padding-bottom: 100px;
}

.searchPeople{
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
}

.search{
    height: 20px;
    width: 250px;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  padding-bottom: 20%;
  background-color: rgb(201, 150, 208);
  margin: 0;
  min-height: 100vh;
}

app-pet-card {
  display: block;
}
