.app-wrapper {
  padding-top: 60px;
}

.navbar.navbar-default {
  background-color: rgb(137, 197, 160);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.container {
  position: sticky;
  display: block;
  width: 100%;
  background-color: rgb(86, 0, 0);
  border: 2px;
}

.justLinks {
  background-color: rgb(137, 197, 160);
  display: flex;
  align-items: center;
}

.left-links {
  background-color: rgb(137, 197, 160);
  display: flex;
  align-items: center;
}

.right-links {
  background-color: rgb(137, 197, 160);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav.nav-bar li {
  display: flex;
  align-items: center;
}

li a {
  display: inline-block;
  color: rgb(86, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(104, 147, 120);
}
