<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Pets</title>
</head>

<body>
<h1>All Pets</h1>

<h3 class="filters-title">Filters</h3>

<div class="filters">

  <div class="filter-group">
    <label class="filter-label invisible-label">Search</label>
    <input
      type="text"
      placeholder="Search by name"
      [(ngModel)]="searchText"
      (input)="filterPets()">
  </div>

  <div class="filter-group">
    <label class="filter-label">Type</label>
    <select
      [(ngModel)]="selectedType"
      (change)="filterPets()">

      <option>All</option>
      <option>Dog</option>
      <option>Cat</option>
      <option>Bird</option>
      <option>Rabbit</option>
    </select>
  </div>

  <div class="filter-group">
    <label class="filter-label">Gender</label>
    <select
      [(ngModel)]="selectedGender"
      (change)="filterPets()">

      <option>All</option>
      <option>male</option>
      <option>female</option>
    </select>
  </div>

</div>

<div class="pets">
  <app-pet-card
    *ngFor="let p of filteredPets"
    [pet]="p"
    (removedPet)="deletePet(p)">
  </app-pet-card>
</div>
</body>
</html>
