<div class="gridContainer">

  <div class="adoptionCard">

    <div class="adoptionInfo">

      <h4><span>Date:</span> {{pipe.transform(adoption.date,'dd.MM.yyyy.')}}</h4>

      <h4><span>Vet report:</span> {{adoption.vetReport}}</h4>

      <h4><span>Pet:</span> {{adoption.petId.type.name}} {{adoption.petId.name}}</h4>

      <h4><span>Person:</span> {{adoption.personId.name}} {{adoption.personId.surname}}</h4>

    </div>

    <!-- ACTIONS -->
    <div class="actions">

      <div class="buttons" *ngIf="comeFrom==2">
        <button (click)="decline(adoption.adoptionId)" class="button">Decline</button>
        <button (click)="accept(adoption.adoptionId)" class="button">Accept</button>
      </div>

      <div class="buttonDelete" *ngIf="comeFrom==1">
        <button (click)="delete(adoption.adoptionId)" class="button">Delete</button>
      </div>

      <!-- STATUS -->
      <div class="status wait" *ngIf="comeFrom==3 && adoption.status==0">
        On wait
      </div>

      <div class="status accepted" *ngIf="comeFrom==3 && adoption.status==1">
        Accepted
      </div>

      <div class="status declined" *ngIf="comeFrom==3 && adoption.status==2">
        Declined
      </div>

    </div>

  </div>

</div>
