<h1>Add New Person</h1>
<form [formGroup] = "newPersonForm" action="#" id="form" (ngSubmit) = "addPerson()">

    <label>JMBG:   </label>
    <input type="text" autocomplete="on" [formControlName]="'personJmbg'">
    <br>
    <br>

    <label >Name:   </label>
    <input type="text" name="name" [formControlName]="'personName'" autocomplete="on">
    <br>
    <br>

    <label >Surname:   </label>
    <input type="text" name="surname" [formControlName]="'personSurname'">
    <br>
    <br>

    <label >Year of birth:   </label>
    <input type="text" name="year" [formControlName]="'personYear'">
    <br>
    <br>

    <label >Phone number:   </label>
    <input type="text" name="phone" [formControlName]="'personPhone'">
    <br>
    <br>

    <label >City:   </label>
    <select [formControlName]="'personCity'">
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    <br>
    <br>
    <br>

    <div class="buttons">
      <input type="submit" value="Add" class="button">
    </div>
</form>