


/* TITLE */
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #2a2a2a;
}

/* CENTER WRAPPER */
.form-container {
  display: flex;
  justify-content: center;
}

/* CARD */
.form-card {
  background: rgba(255, 255, 255, 0.6); /* glass effect */
  backdrop-filter: blur(8px);

  border-radius: 16px;
  padding: 25px;

  width: 900px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

/* ROW = HORIZONTAL GROUP */
.row {
  display: flex;
  gap: 20px;

}

/* FIELD */
.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LABEL */
label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

/* INPUTS */
input, select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;

  transition: 0.2s;
  background: white;
}

input:focus, select:focus {
  border-color: rgb(150, 90, 220);
  box-shadow: 0 0 8px rgba(150, 90, 220, 0.3);
}

/* BUTTON */
.button {
  align-self: center;

  background: rgb(86, 0, 0);
  color: white;

  border: none;
  border-radius: 12px;

  padding: 12px 40px;
  font-size: 14px;

  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: rgb(151 22 22);
  transform: translateY(-2px);
}

input[type="password"] {
  letter-spacing: 2px;
}
