<div class="gridContainer">

  <div class="petCard">

    <div class="gallery">

      <button
        class="galleryArrow galleryArrowLeft"
        (click)="previousImage()"
        *ngIf="images.length>1">
        ‹
      </button>

      <img
        [src]="images[currentImage]"
        class="petImage"
        alt="pet image">

      <button
        class="galleryArrow galleryArrowRight"
        (click)="nextImage()"
        *ngIf="images.length>1">
        ›
      </button>

    </div>

    <div class="petInfo">

      <h4><span>Name:</span> {{pet.name}}</h4>
      <h4><span>Age:</span> {{pet.age}}</h4>
      <h4><span>Type:</span> {{pet.type.name}}</h4>
      <h4><span>Gender:</span> {{pet.gender}}</h4>
      <h4><span>Description:</span> {{pet.description}}</h4>

    </div>

    <!-- WORKER ACTIONS -->
    <div class="buttons" *ngIf="userService.getUserStatus()=='worker'">
      <button (click)="update(pet.id)" class="button">Change</button>
      <button (click)="delete(pet.id)" class="button delete">Delete</button>
    </div>

    <!-- GUEST ACTION -->
    <div class="adopt" *ngIf="personService.getUserStatus()=='guest'">

      <button
        *ngIf="pet.status==1"
        (click)="adopt(pet.id)"
        class="button adoptBtn">
        Adopt
      </button>

      <div *ngIf="pet.status==0" class="adopted">
        Adopted
      </div>

    </div>

  </div>

</div>
